#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.Char {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  font-weight: inherit;
  color: inherit;
  background-color: transparent;
  border: none;
  outline: 1px solid #ffffff;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0.5rem;
  margin: 0.2rem;
  padding: 2rem;
  transition: all 0.1s;
  font-size: 3rem;
  font-weight: 400;
  border-top: white 1rem solid;
  width: 3rem;
  display: inline-block;
}

.MobileChar {
  width: 0.9rem !important;
  font-size: 0.9rem !important;
  padding: 0.7rem !important;
  margin: 0.1rem !important;
  border-top: white 0.2rem solid !important;
}

.TopLeftButton {
  top: 0.5rem;
  left: 0.5rem;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  font-weight: inherit;
  color: inherit;
  background-color: transparent;
  border: none;
  /* outline: none; */
  outline: 1px solid #ffffff;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0.5rem;
  margin: 0.2rem;
  padding: 0.5rem;
  transition: all 0.2s;
  font-weight: 400;
  position: fixed;
}

.TopLeftButton:hover {
  cursor: pointer;
  background-color: #333;
}

.TopLeftButton:active {
  background-color: #444;
}

.Char:hover {
  background-color: #333;
}

.Char:active {
  background-color: #444;
}

.Char:focus {
  background-color: #333;
}

.Guesses {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  padding: 0 1rem;
  /* max-width: 460px; */
  /* position: absolute; */
  font-size: 3rem;
  font-weight: 400;
  margin-bottom: 2rem;
}

.Guess {
  /* display: flex; */
  /* flex-direction: row; */
  align-items: center;
  justify-content: center;
  margin: 0.75rem 0.5rem;
  padding: 0.5rem 0.75rem;
  border-radius: 0.5rem;
  background-color: #333333;
  transition: all 0.2s;
}

.MobileGuess {
  font-size: 1.5rem;
  padding: 0.5rem;
}

.Hint {
  /* display: flex; */
  /* flex-direction: row; */
  align-items: center;
  justify-content: center;
  margin: 0.75rem 0.5rem;
  padding: 0.5rem 0.75rem;
  border-radius: 0.5rem;
  background-color: #333333;
  transition: all 0.2s;
}

.MobileHint {
  font-size: 1.5rem;
  padding: 0.5rem;
}

.Similarity__Full {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: left;
  margin: 0.5rem;
  padding: 0.5rem;
  border-radius: 0.5rem;
  background-color: #333333;
  transition: all 0.2s;
  margin-bottom: 2rem;
}

.Similarity__Win {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: left;
  margin: 0.5rem;
  padding: 0.5rem;
  border-radius: 0.5rem;
  background-color: #452;
  transition: all 0.2s;
  margin-bottom: 2rem;
}

.Similarity__Full {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: left;
  margin: 0.5rem;
  padding: 0.5rem;
  border-radius: 0.5rem;
  background-color: #333333;
  transition: all 0.2s;
  margin-bottom: 2rem;
}

.Similarity__Inside {
  display: flex;
  z-index: 2;
  flex-direction: row;
  align-items: center;
  justify-content: left;
  background-color: #33f;
  padding: 0.5rem;
  transition: all 0.2s;
  border-radius: 0.5rem;
}

.Similarity__New {
  position: absolute;
  z-index: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: left;
  background-color: #452;
  padding: 0.5rem;
  transition: all 0.2s;
  border-radius: 0.5rem;
}

::selection {
  background-color: #555;
  color: #fff;
}

