:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;

  color-scheme: dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

body::-webkit-scrollbar {
  display: none;
}

.hg-button {
  background: rgba(136, 136, 136, 0.7) !important;
  color: white !important;
  height: 80px !important;
  transition: all 0.1s ease-in-out !important;
}

.hg-button:active {
  background: rgba(136, 136, 136, 0.9) !important;
}

.hg-theme-default {
  background-color: #3e3e3e !important;
  position: fixed !important;
  bottom: 0 !important;
  left: 0 !important;
}

#__next {
  max-width: 1280px;
  margin: 0 auto;
  /* padding: 2rem; */
  text-align: center;
  -webkit-tap-highlight-color: transparent;
}

.Instructions {
  padding: 2rem;
}

.Char {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  font-weight: inherit;
  color: inherit;
  background-color: transparent;
  border: none;
  outline: 1px solid #ffffff;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0.5rem;
  margin: 0.2rem;
  padding: 2rem;
  transition: all 0.1s;
  font-size: 3rem;
  font-weight: 400;
  border-top: white 1rem solid;
  max-width: 5rem;
  min-width: 1rem;
  display: inline-block;
  animation-name: charFadeIn;
  animation-duration: 0.2s;
  animation-direction: forwards;
}

@keyframes charFadeIn {
  0% {    
    opacity: 0;
    transform: translateX(100px);
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}

@media(max-width: 768px) {
  .Char {
    padding: 0.75rem;
    font-size: 1rem;
    border-top: white 0.5rem solid !important;
  }
}

.TopLeftButton {
  top: 0.5rem;
  left: 0.5rem;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  font-weight: inherit;
  color: inherit;
  background-color: transparent;
  border: none;
  /* outline: none; */
  outline: 1px solid #ffffff;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0.5rem;
  margin: 0.2rem;
  padding: 0.5rem;
  transition: all 0.2s;
  font-weight: 400;
  position: fixed;
}

.TopLeftButton:hover {
  cursor: pointer;
  background-color: #333;
}

.TopLeftButton:active {
  background-color: #444;
}

.Char:hover {
  background-color: #333;
}

.Char:active {
  background-color: #444;
}

.Char:focus {
  background-color: #333;
}

.Guesses {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  padding: 0 1rem;
  /* max-width: 460px; */
  /* position: absolute; */
  font-size: 3rem;
  font-weight: 400;
  margin-bottom: 2rem;
}

.Guess {
  /* display: flex; */
  /* flex-direction: row; */
  align-items: center;
  justify-content: center;
  margin: 0.75rem 0.5rem;
  padding: 0.5rem 0.75rem;
  border-radius: 0.5rem;
  background-color: #333333;
  transition: all 0.2s;
}

@media(max-width: 768px) {
  .Guess {
    font-size: 1.5rem;
    padding: 0.5rem;
  }
}

.Hint {
  /* display: flex; */
  /* flex-direction: row; */
  align-items: center;
  justify-content: center;
  margin: 0.75rem 0.5rem;
  padding: 0.5rem 0.75rem;
  border-radius: 0.5rem;
  background-color: #333333;
  transition: all 0.2s;
}

@media(max-width: 768px) {
  .Hint {
    font-size: 1.5rem;
    padding: 0.5rem;
  }
}

.Similarity__Full {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: left;
  margin: 0.5rem;
  padding: 0.5rem;
  border-radius: 0.5rem;
  background-color: #333333;
  transition: all 0.2s;
  margin-bottom: 2rem;
}

.Similarity__Win {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: left;
  margin: 0.5rem;
  padding: 0.5rem;
  border-radius: 0.5rem;
  background-color: #452;
  transition: all 0.2s;
  margin-bottom: 2rem;
}

.Similarity__Full {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: left;
  margin: 0.5rem;
  padding: 0.5rem;
  border-radius: 0.5rem;
  background-color: #333333;
  transition: all 0.2s;
  margin-bottom: 2rem;
}

.Similarity__Inside {
  display: flex;
  z-index: 0;
  flex-direction: row;
  align-items: center;
  justify-content: left;
  background-color: #33f;
  padding: 0.5rem;
  transition: all 0.2s;
  border-radius: 0.5rem;
}

.Similarity__New {
  position: absolute;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: left;
  background-color: #452;
  padding: 0.5rem;
  transition: all 0.2s;
  border-radius: 0.5rem;
}

::selection {
  background-color: #555;
  color: #fff;
}

